* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
    font-size: 1rem;
}

body {
    width: 100vw;
    height: 100vh;
}

.title {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.main-page {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: row;
}

.nav-bar {
    width: max(20%, 120px);
    height: 100%;
    border-right: 1px rgb(190, 188, 188) solid;
    display: flex;
    flex-direction: column;
}

.channel-container {
    width: calc(100%-10px);
    height: 100px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: whitesmoke;
    border:2px dodgerblue solid;
}

.channel-container:active {
    transform: scale(98%);
}

.posts-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-container {
    width: 90%;
    height: auto;
    margin: 10px 5px;
    border-radius: 5px;
    border: 1px rgba(0, 0, 0, 0.12) solid;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post-container > h1 {
    font-size: 1.5em;
}

.post-container > span {
    font-size: 0.7em;
}

.post-container > p {
    font-size: 0.8em;
}
