@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mitr', sans-serif;
    font-size: 1rem;
}


body {
    width: 100%;
    height: 100%;
    background: whitesmoke;
	height: 100vh;
}

.animate-gradient {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}


.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
  
.bg2 {
animation-direction:alternate-reverse;
animation-duration:4s;
}

.bg3 {
animation-duration:5s;
}

@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

.landing-page-form-container {
    display: flex;
    flex-direction: column;
    width: max(40%, 200px);
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: azure;
    border : 2px black solid;
    border-radius: 10px;
    padding : 5% 10%;
}

.name-tag-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.login-error-container {
    width: 100%;
    color: red;
    text-align: left;
}

#landing-page-username-input {
    width: 40%;
    flex: 1;
    border-radius: 4px;
}

#landing-page-tag-input {
    width: 40%;
    flex: 1;
    border-radius: 4px;
}

.log-in-btn {
    width: 100%;
    border-radius: 4px;
    margin-top: 10px;
}

.log-in-btn:hover {
    background-color: rgb(222, 222, 222);
}

.log-in-btn:active {
    transform: scale(0.96);
}

.go-to-create-user-page-btn {
    width: 100%;
    border-radius: 4px;
}

.go-to-create-user-page-btn:hover {
    background-color: rgb(222, 222, 222);
}

.go-to-create-user-page-btn:active{
    transform: scale(0.95);
}

.create-user-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

.create-user-form-container {
    display: flex;
    flex-direction: column;
    width: max(40%, 200px);
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: azure;
    border : 2px black solid;
    border-radius: 10px;
    padding : 5% 10%;
}

#create-user-page-username-input {
    width: 100%;
    border-radius: 4px;
}

.teacher-login-checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.4em;
    margin-top: 0.5em;
}

.teacher-login-checkbox-container > input {
    margin-top: 1px;
}

#teacher-login-password {
    width: 100%;
    border-radius: 4px;
    flex: 1;
}

.create-user-btn {
    width: 100%;
    border-radius: 4px;
    margin-top: 15px;
    
}

.create-user-btn:hover {
    background-color: rgb(222, 222, 222);
}

.create-user-btn:active{
    transform: scale(0.96);
}

.back-to-login-btn {
    position: relative;
    width: 100%;
    border-radius: 4px;
    left: 0px;
    
}

.back-to-login-btn:hover {
    background-color: rgb(222, 222, 222);
}

.back-to-login-btn:active{
    transform: scale(0.96);
}

.title {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    
}

.main-page {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.nav-bar {
    width: max(20%, 120px);
    border-right: 1px rgb(190, 188, 188) solid;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.channel-container {
    width: calc(100%-10px);
    height: 100px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: whitesmoke;
    border:2px #8cbaff solid;
    cursor: pointer;
}

.channel-container:hover {
    background-color: #8cbaff;
    color: whitesmoke;
}

.channel-container:active {
    transform: scale(98%);
}

.main-info-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.channel-title {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-bottom: 15px;
    width: calc(100% - 15px);
}

.post-title {
    text-align: center;
    margin-bottom: 10px;
}

.form-submit-button {
    margin-bottom: 20px ;
}

.form-submit-button:hover {
    background-color:#25d940;
    color: whitesmoke;
    transform: scale(1.01);
}

.post-form-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 90%;
    border: 2px black solid;
    border-radius: 23px;
    background-color: #8cbaff;
}

.sort-and-filter-container {
    padding-left: 75px;
    display: flex;
    flex-direction: row;
}

.sort-by-input {
    margin-left: 20px;
    border-radius: 6px;
    margin-bottom: 10px;
    border: 2px #000000 solid;
    cursor: pointer;
}

.sort-by-input:hover{
    background-color: #000000;
    color: white;
}

.sort-by-input:hover > option{
    background-color: white;
    color: black;
}

.answer-title {
    text-align: center;
}

.name-title-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 15px;
}

#post-form-username-input {
    border-radius: 5px;
    width: calc(30% - 5px);
    margin-right: 5px;
    margin-left: 15px;
    cursor: pointer;
}
#post-form-username-input:hover {
    background-color: rgb(232, 229, 229);
    color: black
}


#post-form-username-input:hover > option {
    background-color: white;
    color: black
}     

#post-form-title-input {
    border-radius: 5px;
    width: 65%;
    margin-right : 15px;
}

#post-form-description-input {
    width: 95%;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    resize: vertical;
}

.form-submit-button {
    width:100%;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #A0EB9A;
    cursor: pointer;
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out;
}

.form-submit-button:active {
    transform: scale(0.98);
}

.no-posts-container {
    margin-left: auto;
    margin-right: auto;
}

.posts-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-answer-container {
    width: 90%;
    height: auto;
    margin: 5px;
    border-radius: 29px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-submit-button{
    width: 95%;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.post-container {
    width: 100%;
    height: auto;
    border-radius: 25px;
    border: 3px #8cbaff solid;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 20 ;
    background-color: white;
}

.post-container > h1 {
    font-size: 1.5em;
    margin-left: 16px;
    margin-top: 16px;
}

.post-author {
    font-size: 0.7em;
    color :rgb(190, 188, 188);
    margin-left: 16px;
    margin-top: 3px;
}

.post-container > p {
    font-size: 0.8em;
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 16px  
}

.show-answers-btn {
    width: 25%;
    margin-bottom: 15px;
    margin-left: 10px;
    border-radius: 15px;
    background-color : #8cbaff;
    border: none;
    color: white;
    cursor: pointer;
    align-items: center;
}

.show-answers-btn:hover {
    transform: scale(1.014);
    background-color: #6aa2f6;
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out;
}

.show-answers-btn:active {
    transform: scale(0.98);
    background-color: #6aa2f6;
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out;
}

.like-and-post-btn-container {
    /* padding-left: 0.5em; */
    width: 100%;
}

span + span {
    margin-left: 0.5em;
}

.like-button {
  color: #888;
  font-size: 1em;
  font-family: 'Heebo', sans-serif;
  background-color: transparent;
  border: 0.16em solid;
  border-radius: 1em;
  padding: 0.333em 0.5em 0.25em;
  line-height: 1.2em;
  /* box-shadow: 0 0.25em 1em -0.25em; */
  cursor: pointer;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out;
  outline: 0;
  margin-left: 15px;

}

.heart-icon {
    display: inline-block;
    fill: currentColor;
    width: 0.8em;
    height: 0.8em;
    margin-right: 0.2em;
}

.like-button:hover {
    color: indianred;
}

.like-button:active {
    transform: scale(0.95);
}

.liked {
    color: #FFF;
    background-color: indianred;
    border-color: indianred;
}

.answer-section {
    display: none;
    width: 100%;
    border-radius: 25px;
    border: 1px rgba(0, 0, 0, 0.12) solid;
    z-index: 0;
    transform: translateY(-10px);
    transform-origin: top;
    padding-top: 10px;
    background-color: #8cbaff;
}

.answer-container {
    width: 95%;
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    transform: translateY(-5px);
    padding-left: 5px;
    transform-origin: top;
    background-color: #7f7f85;
    border-radius: 10px;
}

.answer-container > span {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    /*text-align: center;*/

}

.answer-section[open] {
    display: flex;
    flex-direction: column;
    animation: slide-down 300ms forwards;
}

.answer-section[closing] {
    animation: slide-up 300ms forwards;
}

@keyframes slide-down {
    0% {
        transform: scaleY(0) translateY(-5px);
        /* transform: translateY(-100%); */
    }

    100% {
        transform: scaleY(1) translateY(-5px);
        /* transform: translateY(-10px); */
    }
}

@keyframes slide-up {
    0% {
        transform: scaleY(1) translateY(-5px);
    }

    100% {
        transform: scaleY(0) translateY(-5px);
    }
}

.answer-container {
    display: flex;
    flex-direction: row;
}

.answer-form-container {
    margin: 0 10px;
    width:calc(100% - 20px);
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 15px;
}

.name-answer-input {
    width: calc(80% - 5px);
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.answer-form-username-input {
    width: max(calc(20% - 5px), 50px);
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

:focus {
    outline: none;
}

.answer-form-answer-input {
    width: max(75%, 100px);
    border-radius: 5px;
    margin-left: 20px;
    resize: vertical;
}

.answer-submit-button {
    width: 17%;
    cursor: pointer;
    border-radius: 5px;
    border: 1px black solid;
    background-color: #a0eb9a;
}

.answer-submit-button:hover {
    background-color: #25d940;
    color: white;
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out;
    transform: scale(1.02)
}

.answer-submit-button:active {
    background-color: #25d940;
    color: white;
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out;
    transform: scale(0.97)
}

.show-more-posts-btn {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 15%;
    height: 35px;
    border: 1px black solid;
    border-radius: 15px;
    background-color: #8cbaff;
    color: black;
    cursor: pointer;
    font-size: 1.1em;
}

.show-more-posts-btn:hover {
    transform: scale(1.015);
    background-color: #6aa2f6;
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out;
}

.show-more-posts-btn:active {
    transform: scale(0.98);
    background-color: #6aa2f6;
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out;
}
    

.hide {
    display: none;
}
