* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
    font-size: 1rem;
}

body {
    width: 100vw;
    height: 100vh;
}

.title {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.main-page {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: row;
}

.nav-bar {
    width: max(20%, 120px);
    height: 100%;
    border-right: 1px rgb(190, 188, 188) solid;
    display: flex;
    flex-direction: column;
}

.channel-container {
    width: calc(100%-10px);
    height: 100px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: whitesmoke;
    border:2px dodgerblue solid;
    cursor: pointer;
}

.channel-container:active {
    transform: scale(98%);
}

.main-info-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.channel-title {
    display: flex;
    flex-direction: column;
}

.post-form-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width:90%;
}

.name-title-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5px;
}

#username-input {
    width: calc(30% - 5px);
    margin-right: 5px;
}

#title-input {
    width: 70%;
}

#description-input {
    width: 100%;
    margin-bottom: 5px;
}

.form-submit-button {
    width:100%;
    cursor: pointer;
}

.form-submit-button:active {
    transform: scale(0.98);
}

.posts-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-answer-container {
    width: 90%;
    height: auto;
    margin: 5px;
    /* border-radius: 5px;
    border: 1px rgba(0, 0, 0, 0.12) solid; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post-container {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 1px rgba(0, 0, 0, 0.12) solid;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index:20;
    cursor: pointer;
}

.post-container > h1 {
    font-size: 1.5em;
}

.post-container > span {
    font-size: 0.7em;
}

.post-container > p {
    font-size: 0.8em;
}

.answer-section {
    display: none;
    width: 100%;
    border-radius: 5px;
    border: 1px rgba(0, 0, 0, 0.12) solid;
    z-index: 0;
    transform: translateY(-5px);
    padding-top: 5px;
    transform-origin: top;
}

.answer-section[open] {
    display: flex;
    flex-direction: column;
    animation: slide-down 300ms forwards;
}

.answer-section[closing] {
    animation: slide-up 300ms forwards;
}

@keyframes slide-down {
    0% {
        transform: scaleY(0) translateY(-5px);
        /* transform: translateY(-100%); */
    }

    100% {
        transform: scaleY(1) translateY(-5px);
        /* transform: translateY(-10px); */
    }
}

@keyframes slide-up {
    0% {
        transform: scaleY(1) translateY(-5px);
    }

    100% {
        transform: scaleY(0) translateY(-5px);
    }
}

.answer-container {
    display: flex;
    flex-direction: row;
}

.answer-form-container {
    width:100%;
    display: flex;
    flex-direction: row;
}

.name-answer-input {
    width: calc(80% - 5px);
    margin-right: 5px;
}

.username-input {
    width: calc(20% - 5px);
    border: none;
}

:focus {
    outline: none;
}

.answer-input {
    width: 80%;
    border: none;
}

.answer-submit-button {
    width: 20%;
    cursor: pointer;
}
